.voteButton{
  border:none;
}
.minusButton{
  background: rgb(200,20,20);
}
.plusButton{
  background: rgb(20,200,20);
}
.votespan{}
ul{
  list-style-type: none;
}
li{
  display: block;
  list-style:none;
}
body{
  background-color: red;
}
