.container{
}
.containerLogin{
  justify-content: center;
}

.buttonContainer{
  display: flex;
  justify-content: center;

}
.form-control{
  margin-bottom: 5px;
}

.buttonMeny{
  display: flex;
  justify-content: center;
}

.page-header{
  width: 100%;
  z-index: 10;
  left: 0;
  text-align: center;
  background-color:white;
}
#createdRoom{
  z-index:50;
  color:red;
}

#lagRom{
  margin-left: inherit;
}
.questioncontainer{
  display: flex;
  margin-top: 100px;
  z-index: 0;
  justify-content: center;
  align-items: center;
}



.btn {
  margin: 10px;
  align-self: flex-end;
}


.votespan {

  color: green;
  font-size: 20px;
  align-self: flex-end;

}

li{

  align-self: stretch;
  list-style-type: none;
  text-align: center;
}

#inputfield {
  margin: 5px auto;
  border-radius: 15px;
}
#inputform{
  margin: 5px auto 5px auto;
  width: 50%;
}

footer{
  width: 100%;
  height: 15%;
  text-align: center;
  background: rgba(100, 100, 150, 1);
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
}


.loginBox{
  margin:0;
  display: flex;
  justify-content: center;

}

.loginElements{


}
